table {
	border: 5px dotted silver;
	
}

td:hover {
	background-color:blue;
	color: black;
}

tr, th {
	background-color:black;
	color: cornsilk;
}
tr, td {
	background-color: darkgreen;
	color: white;
}